<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout">
<head>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
  <title>Manage Employee</title>
</head>
<body>
	<div layout:fragment="content">

		   <div class="row">
		      <div class="col-md-offset-3 col-md-6">
		         
		          <!-- Save Alert Messages -->
			           <div th:if="${saveEmployee eq 'unsuccess'}">
			              <div class="alert alert-danger alert-dismissible" role="alert">
							  <strong>Error!</strong> Employee Data Not Saved.
							</div>
			           </div>
			           <div th:if="${saveEmployee eq 'success'}">
			              <div class="alert alert-success alert-dismissible" role="alert">
							  <strong>Success!</strong> Employee Data Saved Successfully.
							</div>
			           </div>
		           
		           <!-- Deletion Alert Messages -->
			            <div th:if="${deletion eq 'unsuccess'}">
			              <div class="alert alert-danger alert-dismissible" role="alert">
							  <strong>Error!</strong> Employee Data Not Deleted.
							</div>
			           </div>
			           <div th:if="${deletion eq 'success'}">
			              <div class="alert alert-success alert-dismissible" role="alert">
							  <strong>Success!</strong> Employee Data Deleted Successfully.
							</div>
			           </div>
			       
			       <!-- Edit Alert Message -->
			        <div th:if="${status eq 'notfound'}">
			              <div class="alert alert-danger alert-dismissible" role="alert">
							  <strong>Error!</strong> Invalid Employee.
							</div>
			           </div>
			           <div th:if="${edit eq 'unsuccess'}">
			              <div class="alert alert-danger alert-dismissible" role="alert">
							  <strong>Error!</strong> Employee Data Not Edited.
							</div>
			           </div>
			           <div th:if="${edit eq 'success'}">
			              <div class="alert alert-success alert-dismissible" role="alert">
							  <strong>Success!</strong> Employee Data Edited Successfully.
							</div>
			           </div>

			           
		          <div class="panel panel-success">
					  <div class="panel-heading">
					    <h3 class="panel-title">Add Employee</h3>
					  </div>
					     <div class="panel-body">
					      <form th:object="${employee}" th:action="@{/employee/save}" action="#" method="post">
                              Enter EID: <input id="new_eid" type="text" th:field="*{empEID}" class="form-control" 
                            	     placeholder="Employee Enterprise ID" required/>
					         <div style="clear:both; display:block;height:10px;"></div>
                              Enter Capability: <input id="new_capability" type="text" th:field="*{empCapability}" class="form-control"
                                     placeholder="Employee Capability" required/>
					         <div style="clear:both; display:block;height:10px;"></div>
                              Enter Industry Group: <input id="new_ig" type="text" th:field="*{empIG}" class="form-control"
                                     placeholder="Employee Industry Group" required/>
                             <div style="clear:both; display:block;height:10px;"></div>
                              Enter Employee Level: <input id="new_level" type="number" min="1" max="13" th:field="*{empLevel}" class="form-control"
                                     placeholder="Employee Level" required/>        
					         <div style="clear:both; display:block;height:10px;"></div>
					         
					         <input type="submit" class="btn btn-primary pull-left" value="Save">
					         <input class="btn btn-dark pull-right"  id="clearButton" type="button" value="Clear">
					       </form>
					       
					       <script>
                    		 document.getElementById('clearButton').onclick = function () {
                       		 document.getElementById('new_eid').value = "";
                       		 document.getElementById('new_ig').value = "";
                        	 document.getElementById('new_capability').value = "";
                             document.getElementById('new_level').value = 0;
                             }
                            </script>
					      </div>
					          
					</div>
		      </div>
		   </div>
		   
		   <div class="row"  style="margin-bottom:50px;">
		      <div class="col-md-offset-2 col-md-8">
		            <div class="panel panel-success">
					  <div class="panel-heading">
					    <h3 class="panel-title">All Employees</h3>
					  </div>
					     <div class="panel-body">
					              <table class="table table-bordered">
									<thead>
									   <tr class="btn-success">
									     <th>EID</th>
									     <th>Capability</th>
									     <th>Industry Group</th>
									     <th>Level</th>
									     <th>Operation</th>
									   </tr>
									</thead>
									<tbody>
									     <tr th:if="${#lists.isEmpty(allEmployees)}" class="btn-warning">
									        <td colspan="4" align="center">No Employee Registered Yet!!!</td> 
									     </tr>
										   <tr th:each="emp : ${allEmployees}">
										     <td th:text="${emp.empEID}"></td>
										     <td th:text="${emp.empCapability}"></td>
										     <td th:text="${emp.empIG}"></td>
										     <td th:text="${emp.empLevel}"></td>
										     <td align="center">
										        <a th:href="@{/employee/edit/{id}(id=${emp.id})}"><button type="button" class="btn btn-info"><span class="glyphicon glyphicon-edit"></span>&nbsp;Edit</button></a> &nbsp; &nbsp;
										        <a th:href="@{/employee/delete/{id}(id=${emp.id})}"><button type="button" class="btn btn-danger"><i class="far fa-trash-alt"></i>&nbsp;Delete</button></a>
										     </td>
										   </tr>
									    
									</tbody>
								</table>
			
					      </div>
					          
					</div>
		       </div>
		       
		   </div>
		   <center><a th:href="@{/}"><button type="button" class="btn btn-secondary">Back</button></a></center>
		   <br>
		   <br>
		</div>
		
		
</body>
</html>